{% extends "layouts.main" %}

{% block content %}
    <div class="flex flex-wrap flex-col w-full max-w-3xl mx-auto p-4 pb-8">
        <div class="w-full">
            <h1 class="text-primary text-3xl mt-3 mb-6 text-center">My Account</h1>
        </div>
        <div class="flex flex-wrap w-full">
            <div class="w-1/4 hidden lg:block pr-4">
                <div class="bg-white rounded-lg px-4 py-1 border border-grey-light">
                    {% include "account.partials.menu" %}
                </div>
            </div>
            <div class="w-full lg:w-3/4 bg-white rounded-lg shadow-lg lg:shadow-none p-5 border border-grey-light">
                <h2 class="text-primary mb-5 pb-4 text-xl border-grey-light border-b">Your Details</h2>
                <form action="{{ route('account.details') }}" method="post">
                    {{ csrf_field() }}
                    {{ method_field('put') }}
                    {% if session('message') %}
                        <div class="mb-4">
                            <span class="block w-full bg-white border-2 border-green text-green font-bold my-2 p-3 rounded-lg text-center lg:shadow-md" role="alert">
                                <strong>{{ session('message') }}</strong>
                            </span>
                        </div>
                    {% endif %}
                    <div>
                        <label for="name" class="text-primary-dark text-sm font-semibold block pb-2">Full Name</label>
                        {% if errors.has('name') %}
                            <span class="block w-full bg-white border-2 border-red text-red font-bold mb-2 p-3 rounded-lg text-center lg:shadow-md" role="alert">
                                <strong>{{ errors.first('name') }}</strong>
                            </span>
                        {% endif %}
                        <input id="name" type="text" name="name" value="{{ old('name', auth_user().name) }}"
                               class="border hover:border-grey-dark focus:border-primary focus:border-2 rounded outline-none focus:outline-none p-3 m-px focus:m-0 w-full"
                               required>
                    </div>
                    <div class="mt-4">
                        <label for="email" class="text-primary-dark text-sm font-semibold block pb-2">Email</label>
                        {% if errors.has('email') %}
                            <span class="block w-full bg-white border-2 border-red text-red font-bold mb-2 p-3 rounded-lg text-center lg:shadow-md" role="alert">
                                <strong>{{ errors.first('email') }}</strong>
                            </span>
                        {% endif %}
                        <input id="email" type="email" name="email" value="{{ old('email', auth_user().email) }}"
                               class="border hover:border-grey-dark focus:border-primary focus:border-2 rounded outline-none focus:outline-none p-3 m-px focus:m-0 w-full"
                               required>
                    </div>
                    <div class="mt-6 flex items-center justify-between">
                        <a href="{{ route('account.password') }}" class="mr-2 no-underline hover:underline text-primary hover:text-primary-dark">Change Password</a>
                        <button type="submit" class="inline-block border-2 border-primary bg-primary text-white font-bold py-4 px-8 rounded-full outline-none focus:outline-none hover:border-primary-dark hover:bg-primary-dark cursor-pointer transition-fast">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
