{% extends "layouts.main" %}

{% block title %}My Account &ndash; Login | {{ aero('name') }}{% endblock %}

{% block content %}
    <div class="flex flex-wrap flex-col w-full max-w-3xl mx-auto p-4 pb-8">
        <div class="w-full">
            <h1 class="text-primary text-3xl mt-3 mb-6 text-center">My Account</h1>
        </div>
        <div class="w-full flex-1 flex flex-wrap">
            <div class="w-full lg:w-2/5 mx-auto">
                <div class="w-full mb-6">
                    <form action="{{ route('login') }}" method="post" class="bg-white rounded-lg shadow-lg lg:shadow-none p-6 border border-grey-light">
                        {{ csrf_field() }}
                        <h2 class="text-primary mb-5 pb-4 text-xl border-grey-light border-b">Returning Customer</h2>
                        {% if errors.has('email') %}
                            <span class="block w-full bg-white border-2 border-red text-red font-bold mb-5 p-3 rounded-lg text-center lg:shadow-md" role="alert">
                                <strong>{{ errors.first('email') }}</strong>
                            </span>
                        {% endif %}
                        <div>
                            <label for="email" class="text-primary-dark text-sm font-semibold block pb-2">Email</label>
                            <input id="email" type="email" name="email" value="{{ old('email') }}"
                                   class="border hover:border-grey-dark focus:border-primary focus:border-2 rounded outline-none focus:outline-none p-3 m-px focus:m-0 w-full"
                                   autocomplete="email"
                                   required{% if errors is empty %} autofocus{% endif %}>
                        </div>
                        <div class="mt-4">
                            <label for="password" class="text-primary-dark text-sm font-semibold block pb-2">Password</label>
                            <input id="password" type="password" name="password"
                                   class="border hover:border-grey-dark focus:border-primary focus:border-2 rounded outline-none focus:outline-none p-3 m-px focus:m-0 w-full"
                                   autocomplete="current-password"
                                   required>
                        </div>
                        <div class="mt-4 lg:mt-6 lg:flex items-center justify-end">
                            <div class="lg:mr-4 flex flex-wrap items-center flex-1">
                                <div class="mb-4 mr-4 lg:my-1 flex items-center">
                                    <input id="remember" type="checkbox" name="remember" class="cursor-pointer mr-2" {{ old('remember') or not old('email') ? 'checked' : '' }}>
                                    <label for="remember" class="text-primary-dark text-sm cursor-pointer whitespace-no-wrap hover:text-primary-dark hover:underline">Remember me?</label>
                                </div>
                                <div class="mb-4 lg:my-1 flex-1 text-right lg:text-left">
                                    <a href="{{ route('password.forgot') }}" class="text-primary-dark text-sm cursor-pointer no-underline whitespace-no-wrap hover:text-primary-dark hover:underline">Forgot password?</a>
                                </div>
                            </div>
                            <div class="pt-2 lg:pt-0">
                                <button type="submit" class="w-full lg:w-auto lg:inline-block border-2 border-primary bg-primary text-white font-bold py-4 px-8 rounded-full outline-none focus:outline-none hover:border-primary-dark hover:bg-primary-dark cursor-pointer transition-fast">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="w-full mb-6">
                    <div class="bg-white rounded-lg shadow-lg lg:shadow-none p-6 border border-grey-light">
                        <h2 class="text-primary mb-5 pb-4 text-xl border-grey-light border-b">Create an Account</h2>
                        <div class="mt-6 flex items-center justify-end">
                            <a href="{{ route('register') }}" class="w-full lg:w-auto inline-block no-underline border-2 border-primary bg-primary text-white font-bold py-4 px-8 rounded-full outline-none focus:outline-none hover:border-primary-dark hover:bg-primary-dark cursor-pointer transition-fast text-center">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
